{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "$"
  },
  "rules": {
    "indent": [2, "space", {"VariableDeclarator": 1, "SwitchCase": 1}],
    "max-len": [2, 120, 2],
    "object-curly-spacing": [2, "never"],
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
